<div class="container">
  <div >
    This is the home page.
  </div>

  <div>
    <form action="/search" method="post">
      <input type="text" name="search_term">
      <input type="submit">
    </form>
  </div>
</div>