<!DOCTYPE html>
<html>
<head>
  <title>TunisianDictionary2016</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="nav">
  <div>  
    This is the nav bar.
  </div>
</div>

<%= yield %>

</body>
</html>
